/*custom props*/
:root {
  --accent-color-1: #6E728E;
  --accent-color-2: #4A4D60 ;
  --accent-color-3: #fff;
}

/* GLOBAL STYLES*/
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
 display: flex;
 flex-direction: column;
 padding: 0%;
 margin: 0%;
 height: 100%;
 font-family: 'Montserrat',"Arial",sans-serif;
 font-weight: 700;
 font-size: 15px;
 line-height: 1.5;
 background-color: #F7F7FE;
 background-image: url("../img/lines2.svg"),
 url("../img/lines1.svg");
 background-repeat: no-repeat;
 background-position: left -120px bottom -460px ,
 right -100px top -100px;
 color: #222;
}
img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */
.container {
width: 100%;
max-width: 1090px;
margin-right: auto;
margin-left: auto;
padding-left: 20px;
padding-right: 20px;
}

.main-content {
  flex-grow: 1;
}

/* fonts*/
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v26-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* SITE HEADER */
.site-header {
}
.site-header-container {

  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
}
.site-header-heading {
  padding: 0;
  margin: 0%;
  color: var(--accent-color-1);
  font-size: 32px;
  line-height: normal;
  padding-top: 71px;
  margin-bottom: 40px;
}
.button {
  margin: 0%;
  padding: 0%;
  width: 20px;
  padding: 10px 10px;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  background-color: #696EDD;
}
.button:hover {
  opacity: 0.8;
}
.button:active {
  opacity: 0.6;
}
.header-toggle {
  cursor: pointer;
  margin-bottom: 65px;
}
.toggles-text {
  opacity: 0.5;
  color: var(--accent-color-1);
  line-height: 28px;
}
.toggle-anually {
  margin-left: 24px;
}
.toggle-monthly {
  margin-right: 24px;
}




/* MASKS */
.masks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 127px;
}
.masks-item {
  width: 350px;
  height: 453px;
  flex-shrink: 0;
  list-style-type: none;
  padding: 31px 31px;
  border-radius: 10px 0px 0px 10px;
  background: var(--accent-color-3);
  box-shadow: 0px 20px 40px 0px rgba(212, 210, 244, 0.50);
  text-align: center;
}
.masks-title {
  margin: 0%;
  margin-bottom: 24px;
  color: var(--accent-color-1);
  text-align: center;
  font-size: 18px;
  line-height: 28px; /* 155.556% */
}
.masks-price-wrapper {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-bottom: 32px;
}
.dollar-sign {
  margin: 0%;
  margin-right: 8px;
  color: var(--accent-color-2);
  font-size: 40px;
  line-height: normal;
  letter-spacing: -1.2px;
}
.masks-price {
  margin: 0;
  color: var(--accent-color-2);
  font-size: 72px;
  line-height: 71px; /* 98.611% */
  letter-spacing: -2.16px;
}
.masks-inner {
  margin-bottom: 32px;
}
.masks-inner-info {
  margin: 0%;
  margin-top: 12px;
  margin-bottom: 12px;
  color: var(--accent-color-1);
  line-height: 28px;
}
.masks-link {
  display: inline-block;
  padding: 14px 66px;
  text-decoration: none;
  margin: 0%;
  width: 288px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 6px;
  background: linear-gradient(135deg, #A2A7F0 0%, #696EDD 100%);
  font-size: 13px;
  color: var(--accent-color-3);
  line-height: normal;
  letter-spacing: 1.393px;
}
.masks-link:hover {
  color: #6D72DE;
  background: var(--accent-color-3);
  border: 2px solid #6D72DE;
}
.divider {
  margin: 0%;
  opacity: 0.25;
  background: #6E728E;
}
.masks-professional {
  height: 500px;
  padding-top: 54px;
  border-radius: 10px;
  background-image: linear-gradient(135deg, #A2A7F0 -0.05%, #696EDD 100.05%);
  box-shadow: 0px 20px 40px 0px rgba(212, 210, 244, 0.50);
}
.masks-professional * {
  color: var(--accent-color-3);
}
.masks-professional-link {
  color: var(--accent-color-1);
  background: #fff;
}
.masks-professional-link:hover {
  border-color: #fff;
  color: #fff;
  background:  linear-gradient(135deg, #A2A7F0 -41.95%, #696EDD 100.05%);

  ;
}

.masks-master {
  border-radius: 0px 10px 10px 0px;
  box-shadow: 0px 20px 40px 0px rgba(212, 210, 244, 0.50);
}